@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  scroll-padding-top: theme('spacing.20');
  overflow: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern';
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html,
body {
  /* height: 100%; */
  min-height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

pre[class*='language-'] {
  @apply py-4 px-4 border-t border-b border-blue-100 text-xs;

  overflow: auto;
}

@screen md {
  pre[class*='language-'] {
    @apply border rounded text-sm;
  }
}

@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  /* height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  margin-top: 0 !important;
  width: 50% !important; */
  color: white !important;
  padding: 50px 30px !important;

  /* text-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5); */
  top: calc(50% - 25px) !important;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 40px !important;
}

.swiper-button-next::after {
  content: '→' !important;
}
.swiper-button-prev::after {
  content: '←' !important;
}

.swiper-button-prev {
  /* height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  margin-top: 0 !important;
  width: 50% !important; */
  color: white !important;
}

/* @media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
} */

/* width */
.minimalScrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.minimalScrollbar::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
}

/* Handle */
.minimalScrollbar::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 85%);
  border-radius: 20px;
}

.slide-in {
  @apply transform translate-x-0 transition-transform duration-300 ease-in-out;
}

.slide-out {
  @apply transform -translate-x-full transition-transform duration-300 ease-in-out;
}

audio {
  border-radius: 0 !important;
}

audio::-webkit-media-controls-panel {
  background-color: white !important;
  border-radius: 0 !important;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
